.intro{
    padding-top: 80px;
    width: 100%;
    overflow: hidden;
    @include media(576){
        padding-top: 60px;
    }
    &__pp{
        display: none;
        @include media(768){
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__tag{
        font-size: 12px;
        font-family: "Manrope", sans-serif;
        color: #686E7E;
        font-weight: 500;
        padding: 8px 12px;
        border-radius: 34px;
        background: #F4F4F4;
        margin-bottom: 30px;
        @include media(768){
            display: none;
        }
    }
    &__title{
        font-size: 48px;
        max-width: 753px;
        text-align: center;
        font-weight: 400;
        line-height: 115%;
        margin-bottom: 24px;
        @include media(576){
            font-size: 32px;
        }
        img{
            margin-bottom: -4px;
            @include media(768){
                display: none;
            }
        }
        span{
            color: #A1A1A0;
        }
    }
    &__desc{
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
        text-align: center;
        color: #3B3B3B;
        opacity: 0.7; 
        margin-bottom: 90px;
        @include media(768){
            margin-bottom: 50px;
        }
    }
    &__img{
        max-width: 1031px;
        width: 100%;
        line-height: 0;
        @include media(768){
            width: 510px;
            max-width: 510px;
            margin-left: auto;
        }
        img{
            width: 100%;
        }
    }
}