.team{
    padding-bottom: 150px;
    &__title{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 48px;
        line-height: 115%;
        margin-bottom: 25px;
        font-weight: 400;
    }
    &__p{
        color: #3B3B3B;
        margin-bottom: 56px;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 36px 40px;
        margin-left: auto;
        margin-right: auto;
    }
    &__item{
        width: 240px;
        &-img{
            width: 100%;
            line-height: 0;
            margin-bottom: 15px;
            overflow: hidden;
            border-radius: 12px;
            img{
                width: 100%;
            }
        }
        &-title{
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 3px;
        }
        &-p{
            font-weight: 400;
            font-size: 16px;
            opacity: 0.7;
        }
        &-link{
            color: #FF5C29;
            font-size: 16px;    
        }
    }
}