.trust{
    padding-top: 60px;
    &__container{
        display: flex;
        flex-direction: column;
    }
    &__title{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        line-height: 166%;
        margin-bottom: 30px;
        color: #777777;
        margin-left: auto;
        margin-right: auto;
    }
    &__content{
        max-width: 1070px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}