mixin about()
    section.about 
        .about__container.container 
            .about__content
                .about__bg 
                    img(src="@img/about.png", alt="" draggable="false")
                p.about__title О том, как мы стали частью мира, а не наоборот
                p.about__p Автоматизация и эффективность<br>для саппорт команд –  потому что это важно