mixin blog()
    section.blog#blog 
        .blog__container.container 
            p.faq__tag News 
            h2.faq__title.blog__title Все о нашей <span>платформе</span> и обновлениях
            .blog__content 
                .blog__item 
                    .blog__item-img 
                        img(src="@img/blog-1.png", alt="" draggable="false")
                    p.blog__item-cat Категория
                    p.blog__item-title Преобразование службы поддержки клиентов 1-го уровня
                    a(href="#!").blog__item-link Подробнее 
                        <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6569 12.7111L4.99994 18.3681L3.58594 16.9541L8.53594 12.0041L3.58594 7.05414L4.99994 5.64014L10.6569 11.2971C10.8444 11.4847 10.9497 11.739 10.9497 12.0041C10.9497 12.2693 10.8444 12.5236 10.6569 12.7111Z" fill="#FF5C29"/>
                        </svg>
                .blog__item 
                    .blog__item-img 
                        img(src="@img/blog-2.png", alt="" draggable="false")
                    p.blog__item-cat Категория
                    p.blog__item-title Преобразование службы поддержки клиентов 1-го уровня
                    a(href="#!").blog__item-link Подробнее 
                        <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6569 12.7111L4.99994 18.3681L3.58594 16.9541L8.53594 12.0041L3.58594 7.05414L4.99994 5.64014L10.6569 11.2971C10.8444 11.4847 10.9497 11.739 10.9497 12.0041C10.9497 12.2693 10.8444 12.5236 10.6569 12.7111Z" fill="#FF5C29"/>
                        </svg>
                .blog__item 
                    .blog__item-img 
                        img(src="@img/blog-3.png", alt="" draggable="false")
                    p.blog__item-cat Категория
                    p.blog__item-title Преобразование службы поддержки клиентов 1-го уровня
                    a(href="#!").blog__item-link Подробнее 
                        <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6569 12.7111L4.99994 18.3681L3.58594 16.9541L8.53594 12.0041L3.58594 7.05414L4.99994 5.64014L10.6569 11.2971C10.8444 11.4847 10.9497 11.739 10.9497 12.0041C10.9497 12.2693 10.8444 12.5236 10.6569 12.7111Z" fill="#FF5C29"/>
                        </svg>