mixin choose()  
    section.choose 
        .choose__container.container 
            h2.choose__title Выбирай то, что нужно
            p.choose__p Ознакомьтесь с основными характеристиками каждого тарифа в таблице ниже
            .choose__header 
                .choose__header-item.hide   
                .choose__header-item 
                    .choose__header-top 
                        p.choose__header-title Basic
                        p.choose__header-price <span>$ 490</span> / мес
                    button(type="button").choose__header-btn Попробовать бесплатно
                        span 7 дней
                .choose__header-item.active 
                    .choose__header-top 
                        p.choose__header-title 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2673_3132)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2321 1.36C13.8641 0.601999 15.0951 1.12 14.9951 2.102L14.2891 9H20.0001C20.1901 9.00007 20.3762 9.05428 20.5365 9.15627C20.6968 9.25826 20.8248 9.40382 20.9054 9.5759C20.9859 9.74798 21.0158 9.93946 20.9915 10.1279C20.9672 10.3164 20.8897 10.494 20.7681 10.64L10.7681 22.64C10.1361 23.398 8.90511 22.88 9.00511 21.898L9.71111 15H4.00011C3.8101 14.9999 3.62404 14.9457 3.46372 14.8437C3.3034 14.7417 3.17545 14.5962 3.09487 14.4241C3.01429 14.252 2.9844 14.0605 3.0087 13.8721C3.03301 13.6836 3.11051 13.506 3.23211 13.36L13.2321 1.36ZM6.13511 13H11.4831C11.539 13 11.5943 13.0117 11.6454 13.0344C11.6965 13.0571 11.7423 13.0902 11.7798 13.1317C11.8173 13.1731 11.8457 13.222 11.8631 13.2751C11.8806 13.3282 11.8867 13.3844 11.8811 13.44L11.3281 18.845L17.8651 11H12.5171C12.4612 11 12.4059 10.9883 12.3548 10.9656C12.3037 10.9429 12.258 10.9098 12.2205 10.8683C12.183 10.8269 12.1546 10.778 12.1371 10.7249C12.1197 10.6718 12.1135 10.6156 12.1191 10.56L12.6721 5.156L6.13511 13Z" fill="black"/>
                                </g> 
                                <defs>
                                <clipPath id="clip0_2673_3132">
                                <rect width="24" height="24" fill="white"/>
                                </clipPath>
                                </defs>
                            </svg>
                            | Pro
                        p.choose__header-price <span>Индив.</span>
                    button(type="button").choose__header-btn Попробовать бесплатно
            .choose__content 
                p.choose__content-space Основные преимущества
                .choose__row 
                    .choose__col 
                        p Участников
                    .choose__col 
                        p 4
                    .choose__col 
                        p Безлимит
                .choose__row 
                    .choose__col 
                        p ИИ-Помощник
                    .choose__col 
                        p Нет
                    .choose__col 
                        p Есть
                .choose__row 
                    .choose__col 
                        p Аналитика
                    .choose__col 
                        p Частично
                    .choose__col 
                        p Полностью
                .choose__row 
                    .choose__col 
                        p Единый дешборд
                    .choose__col 
                        p Да
                    .choose__col 
                        p Да
                .choose__row 
                    .choose__col 
                        p Социальные сети
                    .choose__col 
                        p Да
                    .choose__col 
                        p Да
                p.choose__content-space Основные преимущества
                .choose__row 
                    .choose__col 
                        p Индивидуальная аналитика
                    .choose__col 
                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="28" cy="28" r="28" fill="#FFE7E7"/>
                        <path d="M34 22L22 34M22 22L34 34" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .choose__col 
                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="28" cy="28" r="28" fill="#EDFFE7"/>
                        <path d="M25.0002 32.17L20.8302 28L19.4102 29.41L25.0002 35L37.0002 23L35.5902 21.59L25.0002 32.17Z" fill="#2FCC59"/>
                        </svg>
                .choose__row 
                    .choose__col 
                        p Extended API limit
                    .choose__col 
                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="28" cy="28" r="28" fill="#FFE7E7"/>
                        <path d="M34 22L22 34M22 22L34 34" stroke="#FF0000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .choose__col 
                        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="28" cy="28" r="28" fill="#EDFFE7"/>
                        <path d="M25.0002 32.17L20.8302 28L19.4102 29.41L25.0002 35L37.0002 23L35.5902 21.59L25.0002 32.17Z" fill="#2FCC59"/>
                        </svg>
                .choose__row 
                    .choose__col 
                        p Техническая поддержка
                    .choose__col 
                        p
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9998 27.1667C18.8288 27.1667 21.5419 26.0429 23.5423 24.0425C25.5427 22.0421 26.6665 19.329 26.6665 16.5C26.6665 13.671 25.5427 10.9579 23.5423 8.95753C21.5419 6.95714 18.8288 5.83333 15.9998 5.83333C13.1709 5.83333 10.4578 6.95714 8.45736 8.95753C6.45698 10.9579 5.33317 13.671 5.33317 16.5C5.33317 19.329 6.45698 22.0421 8.45736 24.0425C10.4578 26.0429 13.1709 27.1667 15.9998 27.1667ZM15.9998 3.16667C17.7508 3.16667 19.4846 3.51154 21.1023 4.18161C22.72 4.85167 24.1898 5.8338 25.4279 7.07191C26.666 8.31003 27.6482 9.77988 28.3182 11.3976C28.9883 13.0152 29.3332 14.749 29.3332 16.5C29.3332 20.0362 27.9284 23.4276 25.4279 25.9281C22.9274 28.4286 19.5361 29.8333 15.9998 29.8333C8.6265 29.8333 2.6665 23.8333 2.6665 16.5C2.6665 12.9638 4.07126 9.5724 6.57175 7.07191C9.07223 4.57143 12.4636 3.16667 15.9998 3.16667ZM16.6665 9.83333V16.8333L22.6665 20.3933L21.6665 22.0333L14.6665 17.8333V9.83333H16.6665Z" fill="black"/>
                            </svg>
                            | 10:00 - 18:00
                    .choose__col 
                        p
                            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9998 27.1667C18.8288 27.1667 21.5419 26.0429 23.5423 24.0425C25.5427 22.0421 26.6665 19.329 26.6665 16.5C26.6665 13.671 25.5427 10.9579 23.5423 8.95753C21.5419 6.95714 18.8288 5.83333 15.9998 5.83333C13.1709 5.83333 10.4578 6.95714 8.45736 8.95753C6.45698 10.9579 5.33317 13.671 5.33317 16.5C5.33317 19.329 6.45698 22.0421 8.45736 24.0425C10.4578 26.0429 13.1709 27.1667 15.9998 27.1667ZM15.9998 3.16667C17.7508 3.16667 19.4846 3.51154 21.1023 4.18161C22.72 4.85167 24.1898 5.8338 25.4279 7.07191C26.666 8.31003 27.6482 9.77988 28.3182 11.3976C28.9883 13.0152 29.3332 14.749 29.3332 16.5C29.3332 20.0362 27.9284 23.4276 25.4279 25.9281C22.9274 28.4286 19.5361 29.8333 15.9998 29.8333C8.6265 29.8333 2.6665 23.8333 2.6665 16.5C2.6665 12.9638 4.07126 9.5724 6.57175 7.07191C9.07223 4.57143 12.4636 3.16667 15.9998 3.16667ZM16.6665 9.83333V16.8333L22.6665 20.3933L21.6665 22.0333L14.6665 17.8333V9.83333H16.6665Z" fill="black"/>
                            </svg>
                            | 24/7
