mixin corp()
    section.corp 
        .corp__container.container 
            .corp__bg 
                img(src="@img/corp.png", alt="" draggable="false")
            .corp__top 
                h2.corp__title Корпоративное обучение
                p.corp__p Дружим и делимся опытом со многими компаниями, готовы подружиться и с вами, придем к вам и всему научим
            .corp__content 
                .corp__item 
                    p.corp__item-title Простой подход
                    p.corp__item-p Мы адаптируемся под любые команды, найдем подход и к вашей
                .corp__item 
                    p.corp__item-title Профиль сотрудника
                    p.corp__item-p Вы видите, как ваш сотрудник работает и насколько он эффективен
                .corp__item 
                    p.corp__item-title Снижение затрат
                    p.corp__item-p Приходим и оптимизируем то, что можно оптимизировать