mixin faq()
    section.faq#faq 
        .faq__container.container 
            p.faq__tag Answers
            h2.faq__title F&Q
            .faq__content 
                .accordion.active
                    button(type="button").active.accordion__button Как работает бесплатный период?
                        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2678_21193)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2889 10.1569L5.63186 4.49994L7.04586 3.08594L11.9959 8.03594L16.9459 3.08594L18.3599 4.49994L12.7029 10.1569C12.5153 10.3444 12.261 10.4497 11.9959 10.4497C11.7307 10.4497 11.4764 10.3444 11.2889 10.1569Z"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2678_21193">
                            <rect width="12" height="24" fill="white" transform="translate(24) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content.active
                        p.accordion__p Мы предоставляем первые 7 дней бесплатно, для того, чтобы вы смогли протестировать весь функционал платформы и убедиться, что она вам подходит. Во время бесплатного периода вам будет предоставлен полноценный доступ к тарифу Start.
                .accordion
                    button(type="button").accordion__button Мне потребуется специалист, чтобы настроить платформу?
                        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2678_21193)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2889 10.1569L5.63186 4.49994L7.04586 3.08594L11.9959 8.03594L16.9459 3.08594L18.3599 4.49994L12.7029 10.1569C12.5153 10.3444 12.261 10.4497 11.9959 10.4497C11.7307 10.4497 11.4764 10.3444 11.2889 10.1569Z"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2678_21193">
                            <rect width="12" height="24" fill="white" transform="translate(24) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content
                        p.accordion__p Мы создавали платформу таким образом, чтобы вам было интуитивно понятно, как ей пользоваться. Внутри платформы есть обучающие материалы, поэтому вы легко сможете разобраться, как с ней взаимодействовать.
                .accordion
                    button(type="button").accordion__button Можно ли оплатить подписку со счета организации?
                        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2678_21193)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2889 10.1569L5.63186 4.49994L7.04586 3.08594L11.9959 8.03594L16.9459 3.08594L18.3599 4.49994L12.7029 10.1569C12.5153 10.3444 12.261 10.4497 11.9959 10.4497C11.7307 10.4497 11.4764 10.3444 11.2889 10.1569Z"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2678_21193">
                            <rect width="12" height="24" fill="white" transform="translate(24) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content
                        p.accordion__p Конечно! Для этого напишите нашему менеджеру или на почту a@pointai.tech реквизиты для выставления счета, а также укажите желаемый тариф и период подключения. Мы сформируем и пришлем Вам счет для оплаты. Как только деньги поступят на счет, мы активируем Ваш тариф.
                .accordion 
                    button(type="button").accordion__button Можно ли будет поменять тариф или отказаться от подписки в любой момент?
                        <svg width="24" height="12" viewBox="0 0 24 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2678_21193)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2889 10.1569L5.63186 4.49994L7.04586 3.08594L11.9959 8.03594L16.9459 3.08594L18.3599 4.49994L12.7029 10.1569C12.5153 10.3444 12.261 10.4497 11.9959 10.4497C11.7307 10.4497 11.4764 10.3444 11.2889 10.1569Z"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2678_21193">
                            <rect width="12" height="24" fill="white" transform="translate(24) rotate(90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content
                        p.accordion__p Да, вы можете сделать это самостоятельно в личном кабинете. Для этого даже не обязательно ждать окончания оплаченного периода, просто подключите нужный тариф и оставшиеся дни подписки автоматически пересчитаются по новой стоимости тарифа. А автопродление подписки вы можете отключить в личном кабинете. Если вы хотите прекратить уже оплаченный период напишите нашему менеджеру или на почту a@pointai.tech письмо с темой «Отмена подписки».
                