mixin footer()
    footer.footer   
        .footer__body.container 
            .footer__top 
                a(href="index.html").footer__top-logo
                    img(src="@img/logo-gray.svg", alt="" draggable="false")
                p.footer__top-title Время - это деньги.<br>Экономьте и то, и другое.
                a(href="https://t.me/" target="_blank").footer__top-btn Написать в телеграм
                p.footer__top-copy Нажимая на кнопку, вы соглашаетесь с <a href="#!">политикой конфиденциальности</a>.
            .footer__content
                .footer__list
                    .footer__col
                        p.footer__col-title
                            img(src="@img/logo-white.svg", alt="" draggable="false")
                        p.footer__cp © 2024 PointAI Tech, Inc.
                    .footer__col
                        p.footer__col-title Меню
                        .footer__col-list 
                            a(href="about.html").footer__col-link О нас 
                            a(href="functional.html").footer__col-link Функционал
                            a(href="index.html#reviews").footer__col-link Отзывы
                    .footer__col
                        p.footer__col-title Контакты
                        .footer__col-list 
                            a(href="#!").footer__col-link Linkedin
                            a(href="#!").footer__col-link E-mail
                    .footer__col 
                        p.footer__col-title Полезное
                        .footer__col-list 
                            a(href="#!").footer__col-link Примеры
                            a(href="#!").footer__col-link Для разработчиков
                .footer__info 
                    .footer__info-item 
                        p.footer__info-item-title Backed by
                        .footer__info-item-img 
                            img(src="@img/plugn.svg", alt="" draggable="false")
                    .footer__info-item 
                        p.footer__info-item-title dec’2022 winner
                        .footer__info-item-img 
                            img(src="@img/winner.svg", alt="" draggable="false")
            .footer__bot
                .footer__bot-link
                    a(href="#!") Все права защищены. 
                .footer__bot-link
                    a(href="#!") Пользовательское соглашение 
                .footer__bot-link
                    a(href="#!") Политика конфиденциальности 