mixin func()
    section.func 
        .func__container.container 
            p.func__tag Best omnichannel solution
            h1.func__title Весь необходимый<br><span>функционал
                <svg width="15" height="23" viewBox="0 0 15 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_2673_3174)">
                    <path d="M8.8094 14.2849H8.06364L8.34687 14.9748L10.8549 21.0839L10.8552 21.0847C10.9254 21.2547 10.8449 21.4442 10.6901 21.5152L8.48485 22.4763L8.48461 22.4764C8.34829 22.5359 8.17279 22.4786 8.09759 22.3048L5.71575 16.5072L5.42609 15.8022L4.89476 16.3487L1.00168 20.3529C0.901074 20.4564 0.790442 20.464 0.690385 20.4191C0.579875 20.3695 0.5 20.2611 0.5 20.124V0.822014C0.5 0.676159 0.582475 0.572089 0.697395 0.524354C0.813731 0.476031 0.918036 0.50052 0.987987 0.578462L0.994648 0.585884L1.0016 0.593035L13.7779 13.7346L13.7778 13.7347L13.7875 13.7441C13.8776 13.8319 13.8999 13.9564 13.8476 14.084C13.7939 14.2148 13.6883 14.2849 13.5749 14.2849H8.8094Z" fill="black" stroke="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_2673_3174">
                    <rect width="14.375" height="23" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                </span> для создания лучшей технической поддержки
            p.func__p Интуитивно. Надежно. Удобно.<br>pointai — лучшее решение для создания и развития команды поддержки
            button(type="button").func__btn Подключить
        .func__marque 
            .func__marque-content 
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
            .func__marque-content 
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!
                p.func__marque-p Протестируйте функционал pointai <span>бесплатно</span> 7 дней!