mixin info()
    section.info    
        .info__container.container 
            .info__img  
                img(src="@img/info.png", alt="" draggable="false")
            p.info__title Мы поможем сделать ваш сапорт прибыльным и прозрачным
            p.info__p Следим и собираем данные об эффективности вашей команды и помогаем улучшить результаты
            a(href="#!").info__btn Подробнее 