mixin info()
    section.info    
        .info__container.container 
            .info__img  
                img(src="@img/info.png", alt="" draggable="false")
            p.info__title Мы поможем сделать ваш сапорт прибыльным и прозрачным
            p.info__p Следим и собираем данные об эффективности вашей команды и помогаем улучшить результаты
            a(href="https://calendly.com/akhamidov/get-started?hide_event_type_details=1&amp;hide_gdpr_banner=1&amp;primary_color=2f3245" target="_blank").info__btn Подробнее 