mixin intro()
    section.intro#intro
        .intro__container.container
            .intro__pp 
                img(src="@img/people.svg", alt="" draggable="false")
            p.intro__tag Best omnichannel solution
            h1.intro__title Over 240’000 
                img(src="@img/people.svg", alt="" draggable="false")
                <span> People Get</span> Their Dream Customer Support
            p.intro__desc Empower your Support Team with Next-Generation Messaging Dashborad
            .intro__img
                img(src="@img/chats.png", alt="" draggable="false")