mixin investors()   
    section.investors 
        .investors__container.container 
            h2.investors__title Наши инвесторы
            p.investors__p Те, кто в нас поверил и поддерживает
            .investors__content 
                .investors__item 
                    img(src="@img/plug.svg", alt="" draggable="false")
                .investors__item 
                    img(src="@img/domino.svg", alt="" draggable="false")
                .investors__item 
                    img(src="@img/aloqa.svg", alt="" draggable="false")