mixin platform()
    section.platform 
        .platform__container.container 
            h2.title.platform__title Ознакомьтесь с функционалом платформы
            p.platform__p Статьи в Notion с подробным описанием каждой функции
            .platform__content 
                .platform__item.active
                    span.platform__item-num 1
                    p.platform__item-title Омниканальность
                    p.platform__item-p Место, куда поступают запросы от клиентов из всех соц. сетей
                .platform__item
                    span.platform__item-num 2
                    p.platform__item-title Система заметок
                    p.platform__item-p Позволяет оставлять заметки для ваших коллег и себя в чате!
                .platform__item.two
                    span.platform__item-num 3
                    p.platform__item-title Глубокая аналитика
                    p.platform__item-p Анализирует данные по взаимодействию с клиентами для оптимизации процессов и улучшения качества обслуживания
                .platform__item
                    span.platform__item-num 4
                    p.platform__item-title Менеджмент система
                    p.platform__item-p Упрощает управление запросами и задачами клиентов
                .platform__item
                    span.platform__item-num 5
                    p.platform__item-title ИИ-Помощник
                    p.platform__item-p Для автоматизации рутинных задач и принятия решений
                .platform__item.active
                    span.platform__item-num 6
                    p.platform__item-title Доска задач
                    p.platform__item-p Позволяет управлять задачами и отслеживать прогресс
                .platform__item
                    span.platform__item-num 7
                    p.platform__item-title Ответственные
                    p.platform__item-p Дает возможность назначения ответственных лиц
                .platform__item
                    span.platform__item-num 8
                    p.platform__item-title Конструктор хелпдеска
                    p.platform__item-p Позволяет разгрузить команду поддержки
                .platform__item.two
                    span.platform__item-num 9
                    p.platform__item-title Система обучения на платформе
                    p.platform__item-p Интегрированная система обучения для развития навыков сотрудников прямо в рабочем процессе
                .platform__item
                    span.platform__item-num 10
                    p.platform__item-title База клиентов
                    p.platform__item-p Централизованное хранение информации о клиентах