mixin review()
    section.review 
        .review__container.container 
            p.faq__tag.review__tag Reviews
            h2.faq__title.review__title What people <span>talks<br>about</span> us
                <svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2645_35313)">
                <rect width="36" height="36" transform="translate(0.5)" fill="white"/>
                <path d="M8.5 19V11H5.5C4.70435 11 3.94129 11.3161 3.37868 11.8787C2.81607 12.4413 2.5 13.2044 2.5 14V32C2.50149 32.1857 2.55467 32.3674 2.65358 32.5245C2.75249 32.6817 2.89322 32.8083 3.06 32.89C3.22068 32.9631 3.39784 32.9923 3.57347 32.9747C3.74911 32.9572 3.91697 32.8934 4.06 32.79L9.21 29H22.65C23.029 29.0112 23.4063 28.9445 23.7585 28.8039C24.1106 28.6634 24.4302 28.4521 24.6974 28.183C24.9646 27.914 25.1736 27.5929 25.3117 27.2398C25.4498 26.8867 25.5139 26.5089 25.5 26.13V25H14.5C12.9087 25 11.3826 24.3679 10.2574 23.2426C9.13214 22.1174 8.5 20.5913 8.5 19Z" fill="#FF5C29"/>
                <path d="M31.5 4H14.5C13.7044 4 12.9413 4.31607 12.3787 4.87868C11.8161 5.44129 11.5 6.20435 11.5 7V19C11.5 19.7956 11.8161 20.5587 12.3787 21.1213C12.9413 21.6839 13.7044 22 14.5 22H28.05L32.83 25.71C32.9721 25.8151 33.1395 25.8806 33.3152 25.8999C33.4908 25.9192 33.6685 25.8917 33.83 25.82C34.0002 25.739 34.144 25.6115 34.2448 25.4522C34.3457 25.293 34.3995 25.1085 34.4 24.92V7C34.4004 6.22138 34.0981 5.47309 33.557 4.91327C33.0158 4.35345 32.2782 4.02595 31.5 4Z" fill="#FF5C29"/>
                </g>
                <defs>
                <clipPath id="clip0_2645_35313">
                <rect width="36" height="36" fill="white" transform="translate(0.5)"/>
                </clipPath>
                </defs>
                </svg>
            .review__item 
                .review__item-left 
                    .review__item-img  
                        img(src="@img/review.png", alt="" draggable="false")
                    p.review__item-name Алмас Абухаиров, 
                    p.review__item-job Генеральный директор SputialChat. Кипр
                .review__item-right     
                    <svg width="59" height="44" viewBox="0 0 59 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M14.8119 44.0002C5.9119 44.0002 0.462891 35.4635 0.462891 25.4736C0.462891 10.0348 10.0895 0.771465 26.0732 0.408203V8.94498C14.4487 9.12661 10.816 17.3001 10.816 23.4757C10.816 24.3838 10.816 25.1104 10.9976 25.8369C12.4507 24.3838 14.9936 23.6573 17.1732 23.6573C22.6222 23.6573 26.7997 26.9267 26.7997 33.4655C26.7997 39.4594 22.4405 44.0002 14.8119 44.0002ZM46.2345 44.0002C37.3345 44.0002 31.8855 35.4635 31.8855 25.4736C31.8855 10.0348 41.5121 0.771465 57.4958 0.408203V8.94498C45.8713 9.12661 42.2386 17.3001 42.2386 23.4757C42.2386 24.3838 42.2386 25.1104 42.4202 25.8369C43.8733 24.3838 46.4162 23.6573 48.5958 23.6573C54.0448 23.6573 58.2223 26.9267 58.2223 33.4655C58.2223 39.4594 53.8631 44.0002 46.2345 44.0002Z" fill="#A1A1A0"/>
                    </svg>
                    .review__content  
                        p.review__item-text Ребята сами помогли во всем разобраться, работаем не так долго, но уже виден результат, меньше выгораний у нашей команды, меньше волокиты с разбором, работаем быстро и качественно”
                        p.review__item-p Преобразование службы поддержки клиентов 1-го уровня