mixin smi()
    section.smi 
        .smi__container.container 
            h2.title.smi__title.faq__title О нас пишут<br><span>в сми</span>
            .smi__content
                .smi__item 
                    .smi__item-img 
                        img(src="@img/spot.svg", alt="" draggable="false")
                    p.smi__item-p Стартап из Узбекистана привлек вложения от акселератора Plug and Play
                    a(href="#!").smi__item-link Подробнее 
                        <svg width="12" height="25" viewBox="0 0 12 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1569 13.2747L4.49994 18.9317L3.08594 17.5177L8.03594 12.5677L3.08594 7.61774L4.49994 6.20374L10.1569 11.8607C10.3444 12.0483 10.4497 12.3026 10.4497 12.5677C10.4497 12.8329 10.3444 13.0872 10.1569 13.2747Z" fill="#FF5C29"/>
                        </svg>
                .smi__item 
                    .smi__item-img 
                        img(src="@img/uztelecom.svg", alt="" draggable="false")
                    p.smi__item-p UZTELECOM поддержал стартапы и инновации грантами в рамках недели ICT Week — 2023
                    a(href="#!").smi__item-link Подробнее 
                        <svg width="12" height="25" viewBox="0 0 12 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1569 13.2747L4.49994 18.9317L3.08594 17.5177L8.03594 12.5677L3.08594 7.61774L4.49994 6.20374L10.1569 11.8607C10.3444 12.0483 10.4497 12.3026 10.4497 12.5677C10.4497 12.8329 10.3444 13.0872 10.1569 13.2747Z" fill="#FF5C29"/>
                        </svg>
                .smi__item 
                    .smi__item-img 
                        img(src="@img/daryo.svg", alt="" draggable="false")
                    p.smi__item-p Стартап из Узбекистана привлек вложения от акселератора Plug and Play
                    a(href="#!").smi__item-link Подробнее 
                        <svg width="12" height="25" viewBox="0 0 12 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1569 13.2747L4.49994 18.9317L3.08594 17.5177L8.03594 12.5677L3.08594 7.61774L4.49994 6.20374L10.1569 11.8607C10.3444 12.0483 10.4497 12.3026 10.4497 12.5677C10.4497 12.8329 10.3444 13.0872 10.1569 13.2747Z" fill="#FF5C29"/>
                        </svg>