mixin store()
    section.store
        .store__container.container 
            h2.choose__title Хранилище
            p.choose__p.store__p Приобретайте гигабайты, без повышения тарифа. Пользуйтесь только необходимым объемом памяти
            .store__content 
                .store__item 
                    .store__item-header 
                        p.store__item-title Small
                            span 10 ГБ
                        span.store__item-info Входит в подписку
                    p.store__item-p 10 Гб дополнительного хранилища, для небольшой команды
                .store__item 
                    .store__item-header 
                        p.store__item-title Medium
                            span 50 ГБ
                        span.store__item-info Входит в подписку
                    p.store__item-p 50 Гб доп. хранилища, для нескольких команд и тяжелых видео
                .store__item 
                    .store__item-header 
                        p.store__item-title Large
                            span 100 ГБ
                        span.store__item-info Входит в подписку
                    p.store__item-p 100 Гб дополнительного хранилища, для крупных компаний и больших команд
                .store__item 
                    .store__item-header 
                        p.store__item-title Extra large
                            span 500 ГБ
                        span.store__item-info Входит в подписку
                    p.store__item-p 500 Гб дополнительного хранилища, ваши материалы всегда под рукой и в полной безопасности