mixin support()
    section.support 
        .support__container.container 
            p.faq__tag.support__tag Поддержка
            p.faq__title.support__title Служба заботы
            p.support__p Чуткие специалисты поддержки всегда рады помочь вам!
            .support__content 
                .support__item 
                    .support__item-svg 
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2722_5032)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.1877 29.9579C20.8547 30.2039 20.4932 30.4079 20.0957 30.5129C18.9767 30.8129 17.7542 30.3659 16.6862 30.0659C9.5267 28.0514 4.7312 24.8969 3.3557 20.1899C2.2577 16.4309 3.3137 12.6659 5.6357 10.3259C7.7867 8.15844 10.9757 7.27944 14.2472 8.68794C16.3772 5.83194 19.5797 4.99794 22.5257 5.80044C25.7057 6.66594 28.5017 9.39894 29.4302 13.2029C29.6122 13.9489 29.7037 14.7084 29.7047 15.4814C30.0887 15.6784 30.4487 15.9184 30.7847 16.2014C32.5202 17.6699 33.4472 20.1644 32.9297 22.7579C32.2697 26.0669 29.2022 28.3904 24.8147 30.0494C24.0632 30.3344 23.2412 30.6869 22.4207 30.5429C21.9647 30.4619 21.5567 30.2279 21.1877 29.9579ZM6.2357 19.3484C5.4332 16.5989 6.2402 13.9769 7.7657 12.4394C9.2297 10.9634 11.4002 10.4144 13.8002 11.8184C14.6387 12.3089 15.7202 12.0179 16.2002 11.1764C17.5772 8.75994 19.7312 8.14944 21.7367 8.69544C23.8277 9.26544 25.8377 11.1314 26.5157 13.9139C26.5987 14.2479 26.6537 14.5904 26.6807 14.9414C26.1311 15.0117 25.5952 15.1639 25.0907 15.3929C23.4797 13.8224 21.3467 13.5134 19.4657 14.2064C17.3327 14.9909 15.6077 17.0189 15.2057 19.6334C14.7962 22.3109 16.0607 24.9209 18.4142 27.4304C18.1172 27.3554 17.8097 27.2654 17.4992 27.1784C10.5527 25.2239 7.1492 22.4759 6.2357 19.3484ZM18.1727 20.0879C18.4127 18.5129 19.4312 17.4164 20.5022 17.0204C21.4922 16.6574 22.5917 16.8479 23.4272 18.0554C23.5518 18.2354 23.7108 18.3888 23.895 18.5069C24.0792 18.625 24.2851 18.7054 24.5006 18.7435C24.716 18.7816 24.937 18.7766 25.1505 18.7287C25.3641 18.6809 25.566 18.5913 25.7447 18.4649C26.9447 17.6144 28.0427 17.8124 28.8467 18.4919C29.7197 19.2299 30.2987 20.6099 29.9867 22.1714C29.6492 23.8664 27.9347 25.6634 23.7542 27.2429C23.4887 27.3434 23.2247 27.4514 22.9517 27.5309C22.7222 27.3614 22.5107 27.1709 22.2947 26.9864C18.9077 24.0719 17.9102 21.7964 18.1727 20.0864V20.0879Z" fill="#FF5C29"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_2722_5032">
                            <rect width="36" height="36" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    p.support__item-title Живая поддержка
                    p.support__item-p С клиентами мы любим общаться и поэтому мы доступны для вас всегда
                .support__item 
                    .support__item-svg 
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 4.5L1.5 13.5L7.5 16.77V25.77L18 31.5L28.5 25.77V16.77L31.5 15.135V25.5H34.5V13.5L18 4.5ZM28.23 13.5L18 19.08L7.77 13.5L18 7.92L28.23 13.5ZM25.5 24L18 28.08L10.5 24V18.405L18 22.5L25.5 18.405V24Z" fill="#FF5C29"/>
                        </svg>
                    p.support__item-title Обучающие уроки 
                    p.support__item-p Своя постоянно обновляемая база полезных ресурсов
                .support__item 
                    .support__item-svg 
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.6409 10.7191C26.5304 10.3966 26.9729 10.2811 27.2159 10.2391C27.2179 10.3191 27.2169 10.3801 27.2129 10.4221C26.8649 14.0881 25.3364 23.1076 24.5504 27.3046C24.3674 28.2871 24.2264 28.7551 23.2754 28.1971C22.6514 27.8296 22.0874 27.3676 21.4814 26.9716C19.4939 25.6681 16.6499 23.7286 16.8839 23.8456C14.9279 22.5556 15.7469 21.7666 16.8389 20.7136C17.0144 20.5441 17.1989 20.3671 17.3789 20.1796C17.4599 20.0956 17.8544 19.7296 18.4094 19.2121C20.1914 17.5561 23.6354 14.3536 23.7224 13.9831C23.7374 13.9231 23.7494 13.6951 23.6159 13.5766C23.4809 13.4566 23.2814 13.4971 23.1389 13.5301C22.9359 13.5761 19.6989 15.7156 13.4279 19.9486C12.5099 20.5786 11.6779 20.8856 10.9319 20.8696L10.9394 20.8741C9.95694 20.5276 8.97744 20.2291 7.99344 19.9291C7.34137 19.7333 6.69133 19.5308 6.04344 19.3216L5.58144 19.1746C12.3719 16.2166 16.8944 14.2696 19.1609 13.3261C22.4519 11.9566 24.4049 11.1691 25.6409 10.7191ZM29.2754 7.82708C28.9562 7.57416 28.5839 7.39673 28.1864 7.30808C27.8864 7.23608 27.6014 7.21358 27.3869 7.21808C26.6714 7.23008 25.9049 7.43258 24.6179 7.89908C23.3054 8.37608 21.2894 9.19208 18.0089 10.5556C15.6939 11.5186 11.0929 13.5006 4.20594 16.5016C3.59994 16.7431 3.04644 17.0176 2.60844 17.3416C2.20344 17.6431 1.63794 18.1816 1.53444 19.0066C1.45644 19.6306 1.63794 20.2066 2.00694 20.6611C2.32794 21.0556 2.73894 21.2956 3.05244 21.4471C3.51744 21.6721 4.14444 21.8686 4.69494 22.0411C5.55444 22.3111 6.41094 22.5856 7.27344 22.8496C9.94044 23.6656 12.1364 24.3376 14.5514 25.9306C16.3229 27.0976 18.0614 28.3156 19.8359 29.4796C20.4839 29.9041 21.0884 30.3916 21.7559 30.7846C22.4879 31.2121 23.4149 31.6036 24.5459 31.5001C26.2529 31.3426 27.1409 29.7721 27.5009 27.8551C28.2824 23.6701 29.8364 14.5261 30.2009 10.7071C30.2343 10.2639 30.2156 9.8184 30.1454 9.37958C30.0566 8.77258 29.7468 8.21974 29.2754 7.82708Z" fill="#FF5C29"/>
                        </svg>
                    p.support__item-title Телеграм сообщество
                    p.support__item-p Публикуем то, что хотим внедрить и слушаем вас, чтобы добавить ваши идеи
                