mixin tarif()
    section.tarif 
        .tarif__container.container 
            .tarif__wrap 
                .tarif__top 
                    .tarif__top-left 
                        h1.tarif__title Тарифы
                        p.tarif__p Выберите тариф, который соответствует вашим задачам, и начните создавать уже сегодня
                    .tarif__top-right
                        .tarif__widget
                            .tarif__widget-item
                                p 1 мес
                            .tarif__widget-item
                                p 3 мес
                            .tarif__widget-item
                                p 6 мес
                                span -10%
                            .tarif__widget-item
                                p 12 мес
                                span -20%
                        p.tarif__top-info Чем выше период подписки, тем дешевле
                .tarif__bot
                    .tarif__info
                        p.tarif__info-p Не нашли подходящий тариф?<br>Оставьте заявку и мы соберем вам кастомный тариф под ваш запрос
                        p.tarif__info-span Все что есть в PRO
                        p.tarif__info-ad + Любые запросы вашей компании
                        button(type="button").tarif__info-btn Подключить
                    .tarif__content
                        .tarif__item
                            .tarif__item-top
                                span.tarif__item-i Тариф
                                span.tarif__item-dis Экономия -120$
                            p.tarif__item-title Basic
                            p.tarif__item-price <span>$ 490</span> / мес
                            p.tarif__item-gr $5880 / В год
                            .tarif__item-hr
                            p.tarif__item-for Для небольших команд
                            p.tarif__item-desc Все необходимое, для перехода и запуска
                            button(type="button").tarif__item-btn Попробовать 7 дней бесплатно
                        .tarif__item.active
                            .tarif__item-top
                                span.tarif__item-i Тариф
                                span.tarif__item-dis Экономия -120$
                                span.tarif__item-bot
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_2673_3078)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.61581 0.68003C6.93181 0.30103 7.54731 0.56003 7.49731 1.05103L7.14431 4.50003H9.99981C10.0948 4.50007 10.1879 4.52717 10.268 4.57817C10.3482 4.62916 10.4121 4.70194 10.4524 4.78798C10.4927 4.87402 10.5077 4.96976 10.4955 5.06399C10.4834 5.15822 10.4446 5.24703 10.3838 5.32003L5.38381 11.32C5.06781 11.699 4.45231 11.44 4.50231 10.949L4.85531 7.50003H1.99981C1.90481 7.49999 1.81178 7.47289 1.73161 7.42189C1.65145 7.3709 1.58748 7.29812 1.54719 7.21208C1.5069 7.12604 1.49195 7.0303 1.50411 6.93607C1.51626 6.84184 1.55501 6.75303 1.61581 6.68003L6.61581 0.68003ZM3.06731 6.50003H5.74131C5.76926 6.50003 5.79691 6.50589 5.82245 6.51723C5.848 6.52857 5.87089 6.54514 5.88964 6.56587C5.90839 6.58659 5.92259 6.61102 5.93131 6.63758C5.94004 6.66413 5.94311 6.69222 5.94031 6.72003L5.66381 9.42253L8.93231 5.50003H6.25831C6.23036 5.50003 6.20272 5.49417 6.17717 5.48283C6.15163 5.47149 6.12874 5.45492 6.10999 5.4342C6.09124 5.41347 6.07704 5.38904 6.06831 5.36248C6.05958 5.33593 6.05652 5.30784 6.05931 5.28003L6.33581 2.57803L3.06731 6.50003Z" fill="#FF5C29"/>
                                        </g>
                                        <defs>
                                        <clipPath id="clip0_2673_3078">
                                        <rect width="12" height="12" fill="white"/>
                                        </clipPath>
                                        </defs>
                                    </svg>
                                    | Популярный
                            p.tarif__item-title Pro
                            p.tarif__item-price <span>$ 490</span> / мес
                            p.tarif__item-gr $5880 / В год
                            .tarif__item-hr
                            p.tarif__item-for Для любых команд
                            p.tarif__item-desc Выстраивайте процессы внутри своей команды, полное погружение в анализ и полный хардкор!
                            button(type="button").tarif__item-btn Подключить