mixin team()
    section.team 
        .team__container.container 
            h2.team__title Соучастники изменений<br>в индустрии
            p.team__p Команда прекрасна, а люди в нем еще лучше
            .team__content 
                .team__item 
                    .team__item-img 
                        img(src="@img/team-1.png", alt="" draggable="false")
                    p.team__item-title Азамат
                    p.team__item-p CEO
                .team__item 
                    .team__item-img 
                        img(src="@img/team-2.png", alt="" draggable="false")
                    p.team__item-title Амир
                    p.team__item-p CPO
                .team__item 
                    .team__item-img 
                        img(src="@img/team-3.png", alt="" draggable="false")
                    p.team__item-title Feruza
                    p.team__item-p Project
                .team__item 
                    .team__item-img 
                        img(src="@img/team-4.png", alt="" draggable="false")
                    p.team__item-title Jasur
                    p.team__item-p Full Stack
                .team__item 
                    .team__item-img 
                        img(src="@img/team-5.png", alt="" draggable="false")
                    p.team__item-title Shax
                    p.team__item-p Full Stack
                .team__item 
                    .team__item-img 
                        img(src="@img/team-6.png", alt="" draggable="false")
                    p.team__item-title Aziz
                    p.team__item-p Backend
                .team__item 
                    .team__item-img 
                        img(src="@img/team-7.png", alt="" draggable="false")
                    p.team__item-title Может быть ты?
                    a(href="#!").team__item-link Приходи, если умный :)
