mixin text()
    section.text 
        .text__container.container 
            .text__content
                h2.text__title Почитай
                p.text__p Это не манифест.
                    <br>Это не кодекс, не технический документ и не секретный мастер-план.
                    <br>
                    <br>Это просто история.
                    <br>История, рассказанная в трех актах.
                    <br>
                    <br>Это простая история, но хорошая.
                    <br>
                    <br>Эта история ждет, чтобы ее прочли.
                    <br>Лучше всего за один раз и с горячим напитком рядом.
                    <br>Она ждет, чтобы ее прочел тот, для кого она была специально написана.
                    <br>
                    <br>Этот человек — вы.
                    <br>
                    <br>В мире, где онлайн поддержка становится все более важной, мы сталкиваемся с бесконечным потоком запросов, каналов связи и растущими ожиданиями клиентов. Несмотря на обилие инструментов и платформ, многие команды поддержки оказываются перегружены, а процессы — неэффективными.
                    <br>
                    <br>Мы пришли, чтобы вернуть магию в эту сферу.
                    <br>
                    <br>Оптимизация и эффективность. Мы верим, что каждая команда заслуживает инструментов, которые не только облегчают работу, но и делают ее по-настоящему эффективной. Наша платформа создана для того, чтобы автоматизировать рутинные задачи и позволить вашим сотрудникам сосредоточиться на главном — помощи клиентам.
                    <br>
                    <br>Омниканальность. Независимо от того, откуда поступает запрос — будь то email, чат, социальные сети или телефон — наша система объединяет все каналы связи в одном месте. Это не только упрощает управление задачами, но и обеспечивает целостный подход к поддержке клиентов.
                    <br>
                    <br>Вдохновляющий опыт. Мы знаем, что существующие решения часто разочаровывают и усложняют работу. Именно поэтому мы стремимся создать нечто большее. Наша цель — вернуть магию в процесс поддержки, сделать его интуитивно понятным и приятным.
                    <br>
                    <br>Мы здесь, чтобы изменить подход к онлайн поддержке. Мы хотим, чтобы ваши команды снова почувствовали вдохновение и радость от своей работы. В мире, полном стандартных решений, мы предлагаем нечто особенное.
                    <br>
                    <br>Присоединяйтесь к нам и откройте для себя новый уровень эффективности и удовольствия от работы.
                    <br>
                    <br>— Команда pointai