mixin trust()
    section.trust#trust 
        .container.trust__container
            h2.trust__title The Greatest trust us
            .trust__content 
                .trust__item 
                    img(src="@img/specialchat.svg", alt="" draggable="false")
                .trust__item 
                    img(src="@img/meta.svg", alt="" draggable="false")
                .trust__item 
                    img(src="@img/cspace.svg", alt="" draggable="false")
                .trust__item 
                    img(src="@img/fom.svg", alt="" draggable="false")
                .trust__item 
                    img(src="@img/flower.svg", alt="" draggable="false")
                .trust__item 
                    img(src="@img/teentech.svg", alt="" draggable="false")