// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'AeonikPro', sans-serif;
    scroll-behavior: smooth;
    &::selection{
        background: #FF5C29;
        color: #fff;
    }
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
section{
    max-width: 100%;
    overflow: hidden;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
}
ul{
    list-style-type: none;
}
body{
    background: #fff;
    color: #000;
}
